#pageFooterSlider {
	position: fixed;
	bottom: -280px;
	left: 0;
	right: 0;
	z-index: 15;
}


#pageFooterSlider .wrapper {
	overflow: hidden;
}

#pageFooterSliderButton {
	width: 75px; 
	height: 25px; 
	margin: 0 auto;
	z-index: 15;
	cursor: pointer;
	
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

	background-image: url('../img/footerButtonBack.jpg');   
	background-repeat: repeat-x;
	/*
	-moz-box-shadow:    0px 0px 1px #3d3d3d;
	-webkit-box-shadow: 0px 0px 1px #3d3d3d;
	box-shadow:         0px 0px 1px #3d3d3d;*/
}

#pageFooterSliderButton:hover {
	background-position: 0 -25px;

}

#pageFooterSliderContent {
	height: 300px;
	width: 100%;
	background: #44494d;
	background: -moz-linear-gradient(45deg,  #44494d 2%, #616971 78%, #3a3c3e 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(2%,#44494d), color-stop(78%,#616971), color-	stop(100%,#3a3c3e));	
	background: -webkit-linear-gradient(45deg,  #44494d 2%,#616971 78%,#3a3c3e 100%);
	background: -o-linear-gradient(45deg,  #44494d 2%,#616971 78%,#3a3c3e 100%);
	background: -ms-linear-gradient(45deg,  #44494d 2%,#616971 78%,#3a3c3e 100%);
	background: linear-gradient(45deg,  #44494d 2%,#616971 78%,#3a3c3e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44494d', endColorstr='#3a3c3e',GradientType=1 );
	opacity: 0.99;
}


#pageFooterSliderContent h2 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 600;
}

#pageFooterSliderContent p {
	font-size: 0.8em;
}

#pageFooterSliderContent ul {
	margin-left: 15px;
}

#pageFooterSliderContent ul li {
	color: #5FCEEF;
	line-height: 1.3em;
}

#pageFooterSliderContent ul li p {
	color: #cbcbcb;
}


#pageFooterLeft {
	float: left;
	height: 210px;
	padding-right: 20px;
	margin: 20px 20px 0 50px;
	border-right: 1px dotted #6c757e;
}

#pageFooterMiddle {
	float: left;
	width: 600px;
	height: 200px;

	margin: 20px 20px 0 0;
	border-right: 1px dotted #6c757e;
	
	
}

#pageFooterRight {
	float: right;
	width: 150px;
	height: 200px;
	margin: 20px 0 0 0;

}









/* PAGE FOOTER */

#pageFooter {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 10px;
	font-weight: 300px;
	line-height: 22px;
	height: 25px;
	letter-spacing: 0.2px;
	background-image: url('../img/footerBack2.gif');
	z-index: 15;
	text-align: center;
	border-top: 1px dotted #42484d;
	-moz-box-shadow:    0px 3px 7px #000;
	-webkit-box-shadow: 0px 3px 7px #000;
	box-shadow:         0px 3px 7px #000;
	color: #656F78;
}

#pageFooter a {color: #656F78;}
#pageFooter a:hover {color: #b1bcce;}

#footerNav 		{position: absolute; right: 0; bottom: 0; text-transform: uppercase; list-style-type: none;}
#footerNav li {float: left; margin-left: 15px; line-height: 22px;	margin-top: 10px;}
#footerNav a 	{text-decoration: none; color: #656f78;}

#footerNav li.overProject {
	padding: 0 15px 0 30px;
	margin-top: 0px;
	
	background: #484e54;
	background-image: url('../img/logo-uni-small.png'); /* fallback */
	background-image: url('../img/logo-uni-small.png'), -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* 	Saf4+, Chrome */
	background-image: url('../img/logo-uni-small.png'), -webkit-linear-gradient(top,  #545b61 8%, #484e54 100%); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/logo-uni-small.png'),    -moz-linear-gradient(top,  #545b61 8%, #484e54 100%); /* FF3.6+ */
	background-image: url('../img/logo-uni-small.png'),     -ms-linear-gradient(top,  #545b61 8%, #484e54 100%); /* IE10 */
	background-image: url('../img/logo-uni-small.png'),      -o-linear-gradient(top,  #545b61 8%, #484e54 100%); /* Opera 11.10+ */
	background-image: url('../img/logo-uni-small.png'),         linear-gradient(top,  #545b61 8%, #484e54 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545b61', endColorstr='#484e54',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;

	-moz-box-shadow:    2px 6px 5px #141414;
	-webkit-box-shadow: 2px 6px 5px #141414;
	box-shadow:         2px 6px 5px #141414;
	line-height: 35px;
}

.overProject:hover {
	background: #575e65; /* Old browsers */
	background: -moz-linear-gradient(top,  #60686f 8%, #575e65 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#60686f), color-stop(100%,#575e65)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #60686f 8%,#575e65 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #60686f 8%,#575e65 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #60686f 8%,#575e65 100%); /* IE10+ */
	background: linear-gradient(top,  #60686f 8%,#575e65 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60686f', endColorstr='#575e65',GradientType=0 ); /* IE6-9 */
}

#footerNav li.overProject a {color: #b1bcce;}
#footerNav li.overProject a:hover {color: #70bbee;}