#pageFooter {

}


#pageFooterSlider {
	position: fixed;
	bottom: -280px;
	left: 0;
	right: 0;
	opacity: 0.9;
	
}


#pageFooterSlider .wrapper {
	overflow: hidden;
}

#pageFooterSliderButton {
	width: 75px; 
	height: 25px; 
	background: red;
	margin: 0 auto;
	z-index: 1;
	cursor: pointer;
	

	background-image: url('../img/footerButtonBack.jpg');   
	background-repeat: repeat-x;
}

#pageFooterSliderButton:hover {
	/*background-color: blue;*/
}

#pageFooterSliderContent {
	height: 300px;
	width: 100%;
	
	background: #949494; /* Old browsers */
	background: -moz-linear-gradient(top,  #949494 8%, #414141 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#949494), color-stop(100%,#414141)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #949494 8%,#414141 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #949494 8%,#414141 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #949494 8%,#414141 100%); /* IE10+ */
	background: linear-gradient(top,  #949494 8%,#414141 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#414141',GradientType=0 ); /* IE6-9 */



}


#pageFooterLeft {
	float: left;
	background-color: blue;
}

#pageFooterMiddle {
	float: left;
	width: 200px;
	background-color: yellow;
}

#pageFooterRight {
	float: right;
	background-color: green;
}


#pageFooterContent {
	position: fixed;
	background-color: #2a2a2a;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 9px;
	font-weight: 300px;
	line-height: 20px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	
  -moz-box-shadow:    0px -5px 5px #545454;
  -webkit-box-shadow: 0px -5px 5px #545454;
  box-shadow:         0px -5px 5px #545454;
	
}

#pageFooterContent a {
	text-decoration: none;
	color: #757575;
}

#pageFooterContent a:hover {
	text-decoration: underline;
}

#pageFooterContent ul {
	list-style-type: none;
}

#pageFooterContent ul li {
	float: left;
	margin-right: 10px;
}