




#pageFooter {
	
}


#pageFooterSlider {
	position: fixed;
	bottom: -280px;
	left: 0;
	right: 0;
	z-index: 15;
}


#pageFooterSlider .wrapper {
	overflow: hidden;
}

#pageFooterSliderButton {
	width: 75px; 
	height: 25px; 
	background: red;
	margin: 0 auto;
	z-index: 15;
	cursor: pointer;
	
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

	background-color: #bababa;
	background-image: url('../img/footerButtonBack.jpg');   
	background-repeat: repeat-x;
	
	-moz-box-shadow:    0px 0px 1px #3d3d3d;
	-webkit-box-shadow: 0px 0px 1px #3d3d3d;
	box-shadow:         0px 0px 1px #3d3d3d;
}

#pageFooterSliderButton:hover {
	background-position: 0 -25px;

}

#pageFooterSliderContent {
	height: 300px;
	width: 100%;
	
	-moz-box-shadow:    0px 0px 10px #3d3d3d;
	-webkit-box-shadow: 0px 0px 10px #3d3d3d;
	box-shadow:         0px 0px 10px #3d3d3d;
	
	background: #949494; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9a9a9 8%, #5b5b5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#a9a9a9), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9a9a9 8%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9a9a9 8%,#5b5b5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9a9a9 8%,#5b5b5b 100%); /* IE10+ */
	background: linear-gradient(top,  #a9a9a9 8%,#5b5b5b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */

	opacity: 0.99;
}


#pageFooterLeft {
	float: left;
	width: 300px;
	height: 200px;
	margin: 20px 20px 0 0;
	border-right: 2px dotted #b2b2b2;
}

#pageFooterMiddle {
	float: left;
	width: 600px;
	height: 200px;

	margin: 20px 20px 0 0;
	border-right: 2px dotted #b2b2b2;
}

#pageFooterRight {
	float: left;
	width: 175px;
	height: 200px;

	margin: 20px 0 0 0;

}


#pageFooterContent {
	position: fixed;
	background-color: #222;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 9px;
	font-weight: 300px;
	line-height: 20px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	
	-moz-box-shadow:    0px 0px 6px #3d3d3d;
	-webkit-box-shadow: 0px 0px 6px #3d3d3d;
	box-shadow:         0px 0px 6px #3d3d3d;
	
	z-index: 15;
}

#pageFooterContent a {
	text-decoration: none;
	color: #757575;
}

#pageFooterContent a:hover {
	text-decoration: underline;
}

#pageFooterContent ul {
	list-style-type: none;
}

#pageFooterContent ul li {
	float: left;
	margin-right: 10px;
}