#pageHeader {
	position: relative;
	height: 120px;
	
	z-index: 15;
}




#logoBig {
	display: block;
	position: absolute;
	top: 74px;
	left: 50px;
	width: 240px;
	height: 46px;
	background-image: url('../img/logo.png');
	text-indent: -9999px;
}


/*	MAIN-NAVIGATION ------------------------------------------------------ [BEGIN] --	*/

#pageNav 				{position: absolute; right: 50px; top: 50px;}
#pageNav ul 		{list-style-type: none;}
#pageNav li 		{float: left;}

#navPortrait 		{background-image: url('../img/navi-portrait.png');}
#navGrid	 			{background-image: url('../img/navi-grid.png');}
#navMap 				{background-image: url('../img/navi-maps.png');}




#pageNav li a {
	display: block;
	width: 70px;
	height: 70px;
	margin: 5px;
	text-indent: -9999px;
}

#pageNav li.active a {
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	background-color: green;
}


/*	MAIN-NAVIGATION ------------------------------------------------------ [END] --	*/

