#pageHeader {
	position: fixed;
	z-index: 15;
	min-width: 960px;	
	width: 100%;
}

.logoBig {
	position: absolute;
	width: 250px;
	height: 70px;
	left: 0px;
	top: 0px;
	display: block;
	background-color: #fff;
	background-image: url('../img/logoBig.png');
	background-repeat: no-repeat;
	background-position: 15px 28px;
	text-indent: -9999px;
}

.logoSmall {
	position: relative;
	width: 200px;
	height: 35px;
	line-height: 35px;
	display: block;
	background-image: url('../img/logoSmall.png');
	background-repeat: no-repeat;
	background-position: 0px 9px;
	text-indent: 30px;
	text-transform: uppercase;
	text-decoration: none;
}

.logoSmall:hover {
	background-image: url('../img/logoSmallOver.png');
}


