@import "header.css";
@import "footer.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

* {border: 0; margin: 0; padding: 0;}

html {
	font-family: 'Open Sans', sans-serif;	
	overflow-x: hidden;
}

body {
	background-color: #ddd;
	background-image: url('../img/backgrounds/motocross.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	color: #cbcbcb;
}

a {
	color: #70bbee;
}

h1 {
	font-weight: normal;
	font-family: 'Pacifico', serif;
	margin-bottom: -10px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.wrapper {
	width: 90%;
	min-width: 960px;
	max-width: 1280px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.floatRight {
	text-align: right;
}


.blueButton {
	display: inline-block;
	margin: 0;
	padding: 6px 8px;

	text-decoration: none;
	color: #D3DBE1;
	font-size: 0.9em;
	font-weight: 600;
	text-shadow: 1px 1px 1px #44779a;

	background: #70bbee;
	background: -webkit-gradient(linear, left top, left bottom, from(#70bbee), to(#44779a)); /* 	Saf4+, Chrome */
	background: -webkit-linear-gradient(top,  #70bbee 8%, #44779a 100%); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top,  #70bbee 8%, #44779a 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  #70bbee 8%, #44779a 100%); /* IE10 */
	background: -o-linear-gradient(top,  #70bbee 8%, #44779a 100%); /* Opera 11.10+ */
	background: linear-gradient(top,  #70bbee 8%, #44779a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70bbee', endColorstr='#44779a',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:    0px 0px 3px #444;
	-webkit-box-shadow: 0px 0px 3px #444;
	box-shadow:         0px 0px 3px #444;
}

.blueButton:hover {
	color: #fff;
	background: #9cd4fa;
	background: -webkit-gradient(linear, left top, left bottom, from(#9cd4fa), to(#5796c1)); /* 	Saf4+, Chrome */
	background: -webkit-linear-gradient(top,  #9cd4fa 8%, #5796c1 100%); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top,  #9cd4fa 8%, #5796c1 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  #9cd4fa 8%, #5796c1 100%); /* IE10 */
	background: -o-linear-gradient(top,  #9cd4fa 8%, #5796c1 100%); /* Opera 11.10+ */
	background: linear-gradient(top,  #9cd4fa 8%, #5796c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd4fa', endColorstr='#5796c1',GradientType=0 ); /* IE6-9 */
	
}


/********* Startseite *********/

#protagonistContent {
	/* background-color: red; */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
}

#protagonistContent .content {
	background-color: #f0f;
	list-style-type: none;
}

#protagonistContent .contentBox {
	width: 100%;
	height: 520px;
	
	position: absolute;
	top: 50%;
	margin-top: -230px;
}

#protagonistContent .previous {
	/*background-color: #ff0;*/
	opacity: 0;
}

#protagonistContent .current {
	z-index: 10;
	
}

#protagonistContent .following {
	/*background-color: #0f0;*/
	opacity: 0;
}

#protagonistContent .picture {
	position: relative;
	float: left;
	width: 40%;
	height: 75%;
	margin: 0 0 0 10%;
	/*background-color: white;*/
}

#protagonistContent .playButton {
	background-color: #fff;
	background-image: url('../img/play.png');
	background-repeat: no-repeat;
	background-position: 30px 22px;
	
	width: 100px;
	height: 100px;
	
	cursor: pointer;
	
	position: absolute;
	left: 47%;
	bottom: 17%;

	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-moz-box-shadow:    0px 0px 5px #777;
	-webkit-box-shadow: 0px 0px 5px #777;
	box-shadow:         0px 0px 5px #777;
	
	z-index: 500;
}
#protagonistContent .playButton:hover {
	background-image: url('../img/play-over.png');
}

#protagonistContent .playButtonEcho {
	
	width: 100px;
	height: 100px;
	
	position: absolute;
	left: 47%;
	bottom: 17%;

	
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#protagonistContent .description {
	position: relative;
	float: right;
	width: 37%;
	height: 50%;
	margin: 8% 8% 0 0;
}

#protagonistContent .description h1 {
	/*color: #777;*/
	color: #5FCEEF;
	text-shadow: 1px 1px #fff, -1px -1px #777;
	font-size: 2.5em;
	margin-left: -3px;
}

#protagonistContent .description h2 {
	color: white;
	text-shadow: 1px 1px #999;
	font-size: 1.3em;
	font-weight: 600;
	margin: -15px 0 15px 0;
}

#protagonistContent .description p {
	font-size: 0.9em;
	line-height: 1.5em;
	color: #656565;
}

#protagonistContent .arrowLeft {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 28px;
	height: 68px;
	margin-top: -10px;
	z-index: 15;
	cursor: pointer;
	background-image: url('../img/arrowLeft.png');
  opacity: 0.6;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;	
	transition: opacity 0.5s ease-in-out;	
}

#protagonistContent .arrowLeft:hover {
	opacity: 1;
}

#protagonistContent .arrowRight {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 28px;
	height: 68px;
	margin-top: -10px;
	z-index: 15;
	cursor: pointer;
	background-image: url('../img/arrowRight.png');
	  opacity: 0.6;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;	
	transition: opacity 0.5s ease-in-out;
	
}

#protagonistContent .arrowRight:hover {
	opacity: 1;
}

#map_canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
}

.gridContainer {
	width: 75%;
	float: left;
}
.gridContainer .page {
	width: 25%;
	max-width: 960px;
	min-width: 720px;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	display: list-item;
}
.gridContainer .slider {
	width: 400%;
}
.gridContainer .page li {
	width: 220px;
	margin: 10px;
	height: 150px;
	float: left;
	background-color: rgba(255,0,0,0.5);
}
.playList {
	float: right;
	height: 500px;
	float: right;
}
.playList ul {
	list-style: none;
	width: 240px;
}
.playList ul li {
	background-color: rgba(255,0,0,0.5);
	height: 150px;
	width: 220px;
	margin: 10px;
}
.playList ul li p {
	text-align: center;
	padding: 50px;
}
.naviPages {
	width: 67%;
}
.naviPages ul {
	list-style: none;
	height: 100px;
	width: 180px;
	margin: 0 auto;
}
.naviPages ul li {
	display: inline;
	float: left;
	width: 15px;
	height: 15px;
	margin: 15px;
	background-color: #fff;
}
.clear {
	clear: both;
}