@import "header.css";
@import "footer.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {border: 0; margin: 0; padding: 0;}

html {
	font-family: 'Open Sans', sans-serif;
}


h1 {

}

h2 {
	font-size: 14px;
}

.hidden {
	display: none;
}

.wrapper {
	background-color: grey;
	width: 90%;
	min-width: 960px;
	max-width: 1280px;
	
	margin: 0 auto;
}

#pageHeader {

}


